<div>
    <div class="header-show-category"></div>
        <h2 class="sub-title">Nature</h2>
        <p>Let’s celebrate the magic of Mother Earth — with images of everything our planet has to offer.</p>
        <button class="button-search new">new Photo</button>
    </div>

    <div class="card-photos-container">
        <div class="photo-container-card">
            <img src="/images/image 3.png" alt="">
            <div class="footer-photo">
                <span>Purple lake</span>
                <div class="footer-bottom-photo">
                    <span>3 comments</span>
                    <div class="icons-footer-photo">
                        <img class="edit-icon-footer" src="/icons/edit.svg" alt="">
                        <img src="/icons/delete.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <%# <div class="photo-container-card">
            <img src="/images/image 3.png" alt="">
            <div class="footer-photo">
                <span>Purple lake</span>
                <div class="footer-bottom-photo">
                    <span>3 comments</span>
                    <div class="icons-footer-photo">
                        <img class="edit-icon-footer" src="/icons/edit.svg" alt="">
                        <img src="/icons/delete.svg" alt="">
                    </div>
                </div>
            </div>
        </div> %>
        <div>
            <form class="form-comment" action="">
                <textarea class="form-textarea" name="" id="" cols="30" rows="10"></textarea>
                <button class="button-submit">Comment</button>
            </form>
        </div>
        <div>
            <span class="subtitle-comments">Comments</span>
            <div class="comments-container">
                <div class="comment">
                    <p>This is an example of a comment for this category.</p>
                    <div class="comment-bottom">
                        <span>Send 2 days ago</span>
                        <img src="/icons/delete.svg" alt="">
                    </div>
                </div>
                <div class="comment">
                    <p>This is an example of a comment for this category.</p>
                    <div class="comment-bottom">
                        <span>Send 2 days ago</span>
                        <img src="/icons/delete.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<%# <span class="error">Something went wrong:</span>
<ul>
    <li>Name can’t be blank</li>
    <li>Cover can’t be blank</li>
</ul>

<form class="form-general" action="">
    <div>
        <label for="">NAME</label>
        <input class="form-text" type="text" placeholder="Technology">
    </div>
    <div>
        <label for="">DESCRIPTION</label>
        <textarea class="form-textarea" name="" id="" placeholder="Exploring our complicated relationship with technology..."></textarea>
    </div>
    <div>
        <label for="">COVER</label>
        <input type="file">
    </div>
    <button class="button-submit">Create Category</button>
    <button class="button-back">Back</button>
</form> %>

<%# <button class="button-search new">new Category</button>
<div class="card-category">
    <img src="/images/image 1.png" alt="">
    <div class="category-content">
        <h2>Wallpapers</h2>
        <span>3 photos</span>
        <p>From epic drone shots to inspiring moments in nature, find free HD wallpapers worthy of your screens.</p>
    </div>
    <div class="card-cat-footer">
        <img class="edit-icon-footer" src="/icons/edit.svg" alt="">
        <img src="/icons/delete.svg" alt="">
    </div>
</div>
     %>
